@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager _navMan
@inject TokenProvider TokenProvider

<AuthorizeView>
    <Authorized>
        <MudButton  OnClick="@(() => _navMan.NavigateTo("/profile"))" Style="min-width: min-content !important; padding-left: 15px; padding-right: 15px;" Class="profile-button">
            <MudAvatar Color="Color.Primary" Style="margin-right:.5em;">
                @context.User.Identity.Name[0]
            </MudAvatar>
            
            Hello, @context.User.Identity.Name!

        </MudButton>

        <form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
            <MudButton StartIcon="@Icons.Material.Filled.Logout" IconColor="Color.Secondary" Style="min-width: min-content !important;" ButtonType="ButtonType.Submit">
                Logout
            </MudButton>
            <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.XsrfToken" />
        </form>

    </Authorized>
    <NotAuthorized>
        <MudButton StartIcon="@Icons.Material.Filled.AccountCircle" Style="min-width: min-content !important;" IconColor="Color.Secondary" OnClick="@(()=>_navMan.NavigateTo("Identity/Account/Register"))">
            Register
        </MudButton>

        <MudButton StartIcon="@Icons.Material.Filled.Login" Style="min-width: min-content !important;" IconColor="Color.Secondary" OnClick="@(()=>_navMan.NavigateTo("Identity/Account/Login"))">
            Login
        </MudButton>
    </NotAuthorized>
</AuthorizeView>