@inherits LayoutComponentBase
@layout MainLayout
@inject NavigationManager _navMan

<MudLayout Class="layout-content">
    <MudLayout>
        @*Top Bar for Search, logo*@
        <MudAppBar Fixed="true">
            <MudImage Height="40" Src="https://cdn.discordapp.com/attachments/911058579073675284/951718035683672084/csun_logo.png" />
            <SearchBar />
            <MudIconButton Class="right-top-button" Icon="@Icons.Material.Rounded.Build" />
        </MudAppBar>
        <MudSpacer/>
        @*Second Top Bar for Categories, shortcuts? Will have hamburger icon for side panel menu on the left*@
        <MudAppBar Class="second-bar">
            <MudIconButton Class="left-top-button" Icon="@Icons.Material.Rounded.Menu" />
        </MudAppBar>
            
        
    </MudLayout>

    <div class="main-content">
        <MudMainContent>
            @Body
        </MudMainContent>
    </div>

    @*Bottom Tab Navigation*@

    <MudTabs Position="Position.Bottom" Class="bottom-tab-bar" Elevation="2" Rounded="false" ApplyEffectsToContainer="true">
        <MudTabPanel Class="tab" Icon="@Icons.Material.Filled.Home" />
        <MudTabPanel Class="tab" Icon="@Icons.Material.Rounded.Person" />
        <MudTabPanel Class="tab" Icon="@Icons.Material.Rounded.ShoppingCart" />
    </MudTabs>

</MudLayout>


@code {
    public string? searchTerm { get; set; }
    
    public void myFunction()
    {

    }
}
<style>
.second-bar {
    margin-top: 64px;
    height: 50px;
}


</style>