@page "/billing"
@using System.Globalization
@using csun_marketplace.data;
@using csun_marketplace.services;
@using System;
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

@inject ICSUNMarketplaceService _csunMarketplaceService
@inject IWebHostEnvironment env
@inject ISnackbar Snackbar
@inject NavigationManager _navMan
@inject AuthenticationStateProvider _authenticationStateProvider
@inject CartService _cart


<div class="page-container">
    <div class="page-content">

        <div class="page-header-container">
            <MudText Class="form-header" Color="Color.Default">
                <h1>
                    Billing
                </h1>
                <h6>
                    Billing Information
                </h6>
            </MudText>
        </div>

        <div class="grid-two">
            <MudTextField Class="elem-half" Label="First Name" T="string" Variant="Variant.Filled" />
            <MudTextField Class="elem-half" Label="Last Name" T="string" Variant="Variant.Filled" />
        </div>

        <div class="form-row">
            <MudTextField Label="Billing Address" T="string" Variant="Variant.Filled" />
        </div>

        <div class="grid-two">
            <MudTextField Class="elem-half" Label="City" T="string" Variant="Variant.Filled" />
            <MudSelect style="width: 100px;" Label="State" T="string" Variant="Variant.Filled" Dense="true">
                @foreach (string state in states)
                {
                    <MudSelectItem T="string" Value="state"  />
                }
            </MudSelect>
        </div>

        <div class="grid-two">
            <MudTextField Class="elem-half" Label="Zip" T="string" Variant="Variant.Filled" Mask="@(new PatternMask("00000"))" />
            <MudTextField Class="elem-half" Label="Country" T="string" Variant="Variant.Filled" Text="United States" ReadOnly="true" />
        </div>

        <div class="form-row">
            <MudTextField Label="Card number" T="string" Variant="Variant.Filled" Mask="@(new PatternMask("0000 0000 0000 0000"))" />
        </div>

        <div class="grid-two">
            <MudTextField Class="elem-half" Label="Expiration date" T="string" Variant="Variant.Filled" Mask="@(new PatternMask("00/00"))" />
            <MudTextField Class="elem-half" Label="Security code" T="string" Variant="Variant.Filled" Mask="@(new PatternMask("000"))" />
        </div>


        <div>
            <div class="go-back">
                <MudButton Variant="Variant.Filled" OnClick="@(()=>_navMan.NavigateTo("/checkout"))" Color="Color.Primary">Back</MudButton>
            </div>

            <div class="billing-continue">
                <MudButton Variant="Variant.Filled" OnClick="@(()=> OrderComplete())" Color="Color.Primary">Place Order</MudButton>
            </div>
        </div>

    </div>
</div>



@code {
    public List<string> states = new List<string>
    {
        "AL", "AK", "AZ", "AR", "CA", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KY", "LA", "ME", "MD", "MA","MI","MN","MS","MO","MT","NE","NV","NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY",

    };


    public void OrderComplete()
    {
        _cart.EmptyCart();
        Snackbar.Add("Order Accepted, Thank You!", Severity.Success);
        _navMan.NavigateTo("/thankyou");
    }
}

<style>
    .upload-image-label {
        margin-left: 1em;
    }

    .img-input-div {
        margin-top: 1em;
    }

    .grid-two {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .elem-half {
        max-width: 48%;
    }

    .billing-continue {
        float: right;
        padding-top: 24px;
    }

    .go-back {
        float: left;
        padding-top: 24px;
    }

</style>
