@page "/cart"
@using System.Globalization
@using csun_marketplace.data;
@using csun_marketplace.services;
@using System;
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

@inject ICSUNMarketplaceService _csunMarketplaceService
@inject IWebHostEnvironment env
@inject ISnackbar Snackbar
@inject NavigationManager _navMan
@inject AuthenticationStateProvider _authenticationStateProvider
@inject CartService _cart

<div class="page-container">
    <div class="page-content">

        <div class="page-header-container">
            <MudText Class="form-header" Color="Color.Default">
                <h1>
                    My cart
                </h1>
                <h6>
                    In my cart:
                </h6>
            </MudText>
        </div>

        <div class="products-container">
            @if (_cart.Length() > 0)
            {
                @foreach (Product p in _cart.GetCart())
                {
                    <div>
                        <div>
                            <MudImage Src="@p.ImageUrl" Height="85" Width="85" />
                        </div>
                        <div class="product-tile">
                            <div class="product-tile-header-container">
                                <MudText Class="product-tile-header">
                                    @p.Title
                                </MudText>
                            </div>

                            <div>
                                <MudText>
                                    $@p.Price
                                </MudText>
                            </div>
                        </div>
                        <div>
                            <MudButton Variant="Variant.Filled" OnClick=@(()=> _cart.RemoveFromCart(p)) Color="Color.Primary" EndIcon="@Icons.Material.Filled.RemoveShoppingCart">Remove</MudButton>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="grid-two">
            <div class="keep-shopping">
                <MudButton Variant="Variant.Filled" OnClick="@(()=>_navMan.NavigateTo("/"))" Color="Color.Primary">Keep Shopping</MudButton>
            </div>

            @if (_cart.Length() > 0)
            {
                <div class="billing-continue">
                    <MudText>
                        Cart Total: $@_cart.GetTotal().ToString()
                    </MudText>
                    <MudButton Variant="Variant.Filled" OnClick="@(()=>_navMan.NavigateTo("/checkout"))" Color="Color.Primary">Checkout</MudButton>
                </div>
            }
        </div>

    </div>
</div>



@code {

}

<style>
    .upload-image-label {
        margin-left: 1em;
    }

    .img-input-div {
        margin-top: 1em;
    }

    .grid-two {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .elem-half {
        max-width: 48%;
    }


    .products-container {
        display: flex !important;
        flex-direction: row !important;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 16px;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .grid-two {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .keep-shopping {
        float: left;
        padding-top: 24px;
    }

    .billing-continue {
        float: right;
    }
</style>
