@page "/checkout"
@using System.Globalization
@using csun_marketplace.data;
@using csun_marketplace.services;
@using System;
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

@inject ICSUNMarketplaceService _csunMarketplaceService
@inject IWebHostEnvironment env
@inject ISnackbar Snackbar
@inject NavigationManager _navMan
@inject AuthenticationStateProvider _authenticationStateProvider
@inject CartService _cart

<MudPaper Class="page-container" Elevation="7">
    <div class="page-content">

        <div class="page-header-container">
            <MudText Class="form-header" Color="Color.Primary">
                <h1>
                    Checkout
                </h1>
            </MudText>
        </div>
        <MudExpansionPanel Text="Shipping Information">
            <div class="form-row">
                <MudTextField Label="Shipping Address" T="string" Variant="Variant.Filled" />
            </div>

            <div class="grid-two">
                <MudTextField Class="elem-half" Label="City" T="string" Variant="Variant.Filled" />
                <MudSelect style="width: 100px;" Label="State" T="string" Variant="Variant.Filled" Dense="true">
                    @foreach (string state in states)
                    {
                        <MudSelectItem T="string" Value="state" />
                    }
                </MudSelect>
            </div>

            <div class="grid-two">
                <MudTextField Class="elem-half" Label="Zip" T="string" Variant="Variant.Filled" Mask="@(new PatternMask("00000"))" />
                <MudTextField Class="elem-half" Label="Country" T="string" Variant="Variant.Filled" Text="United States" ReadOnly="true" />
            </div>
        </MudExpansionPanel>

        <div class="page-header-container">
            <MudText Class="form-header" Color="Color.Primary">
                <h1>
                    Billing
                </h1>
            </MudText>
        </div>

        <MudExpansionPanel Text="Billing Information">
            <div class="grid-two">
                <MudTextField Class="elem-half" Label="First Name" T="string" Variant="Variant.Filled" />
                <MudTextField Class="elem-half" Label="Last Name" T="string" Variant="Variant.Filled" />
            </div>

            <div class="form-row">
                <MudTextField Label="Billing Address" T="string" Variant="Variant.Filled" />
            </div>

            <div class="grid-two">
                <MudTextField Class="elem-half" Label="City" T="string" Variant="Variant.Filled" />
                <MudSelect style="width: 100px;" Label="State" T="string" Variant="Variant.Filled" Dense="true">
                    @foreach (string state in states)
                    {
                        <MudSelectItem T="string" Value="state" />
                    }
                </MudSelect>
            </div>

            <div class="grid-two">
                <MudTextField Class="elem-half" Label="Zip" T="string" Variant="Variant.Filled" Mask="@(new PatternMask("00000"))" />
                <MudTextField Class="elem-half" Label="Country" T="string" Variant="Variant.Filled" Text="United States" ReadOnly="true" />
            </div>

            <div class="form-row">
                <MudTextField Label="Card number" T="string" Variant="Variant.Filled" Mask="@(new PatternMask("0000 0000 0000 0000"))" />
            </div>

            <div class="grid-two">
                <MudTextField Class="elem-half" Label="Expiration date" T="string" Variant="Variant.Filled" Mask="@(new PatternMask("00/00"))" />
                <MudTextField Class="elem-half" Label="Security code" T="string" Variant="Variant.Filled" Mask="@(new PatternMask("000"))" />
            </div>
        </MudExpansionPanel>


        <div class="form-row">
            <MudText Color="Color.Primary">
                <h6>
                    Review Order
                </h6>
            </MudText>
        </div>


            @if (_cart.Length() > 0)
        {
                @foreach (Product p in _cart.GetCart())
                {
                    <MudPaper Style="margin-bottom: 1em; padding: .5em;" Elevation="3" Width="100%">
                        <MudContainer Fixed="true" Style="padding: .5em !important;">
                            <MudGrid>
                                <MudItem lg="2" xl="2">
                                    <MudImage Src="@p.ImageUrl" Height="120" Width="120" />
                                </MudItem>

                                <MudItem lg="9" xl="9" Style="display: flex; flex-direction:column; justify-content:space-between !important;">
                                    <MudText Color="Color.Primary">
                                        <h5> @p.Title </h5>
                                    </MudText>

                                    <MudText Color="Color.Secondary">
                                        Sold by @GetSellerName(p)
                                    </MudText>

                                    
                                    <div>
                                        <MudButton OnClick="@(()=> RemoveFromCart(p))" Variant="Variant.Filled" Color="Color.Default" >
                                            Remove
                                        </MudButton>

                                        <MudButton Variant="Variant.Filled" Color="Color.Default" Style="margin-left: 1em;">
                                            Save For Later
                                        </MudButton>
                                    </div>
                                </MudItem>

                                <MudItem lg="1" xl="1">
                                    <b class="product-price-text"> @formatCurrency(p.Price) </b>
                                </MudItem>
                            </MudGrid>
                        </MudContainer>
                    </MudPaper>
                }
        }

        <div class="two-buttons">
            <div class="go-back">
                <MudButton Variant="Variant.Filled" OnClick="@(()=>_navMan.NavigateTo("/cart"))" Style="margin-top:1em;" Color="Color.Primary">Back</MudButton>
            </div>

            @if (@_cart.GetTotal() > 0)
            {
                <div class="billing-continue">
                    <MudText Color="Color.Primary" Style="padding-bottom: 1em;">
                        <b>
                            Cart Total: @formatCurrency(_cart.GetTotal())
                        </b>
                    </MudText>
                    <MudButton Variant="Variant.Filled" OnClick="@(()=> OrderComplete())" Color="Color.Primary">Place Order</MudButton>
                    @*<MudButton Variant="Variant.Filled" OnClick="@(()=>_navMan.NavigateTo("/billing"))" Color="Color.Primary">Continue</MudButton>*@
                </div>
            }
            else
            {
                <div class="keep-shopping">
                    <MudButton Variant="Variant.Filled" OnClick="@(()=>_navMan.NavigateTo("/"))" Style="margin-top:1em;" Color="Color.Primary">Keep Shopping</MudButton>
                </div>
            }
        </div>
    </div>
</MudPaper>



@code {

    HashSet<UserInformation> sellerInfos = new HashSet<UserInformation>();


    protected override void OnInitialized()
    {
        foreach (Product p in _cart.GetCart())
        {
            UserInformation user = _csunMarketplaceService.GetUserInformation(p.OwnerId);
            if(!sellerInfos.Contains(user))
            {
                sellerInfos.Add(_csunMarketplaceService.GetUserInformation(p.OwnerId));    
            }
        }
    }


    public List<string> states = new List<string>
    {
        "AL", "AK", "AZ", "AR", "CA", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KY", "LA", "ME", "MD", "MA","MI","MN","MS","MO","MT","NE","NV","NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY",

    };


    public void OrderComplete()
    {
        _cart.EmptyCart();
        Snackbar.Add("Order Accepted, Thank You!", Severity.Success);
        _navMan.NavigateTo("/thankyou");
    }


    CultureInfo USD = new CultureInfo("en-US");

    public string formatCurrency(decimal? amount)
    {
        float subtotal = (float)amount;
        return subtotal.ToString("C2", USD);
    }

    public void RemoveFromCart(Product p)
    {
        _cart.RemoveFromCart(p);
        Snackbar.Add("Product successfully removed from Cart.", Severity.Success, config =>
        {
            config.Action = "Undo";
            config.ActionColor = Color.Secondary;
            config.Onclick = snackbar =>
            {
                _cart.UndoRemoveFromCart();
                Snackbar.Clear();
                StateHasChanged();
                return Task.CompletedTask;
            };
        });
    }

    public string GetSellerName(Product p)
    {
        UserInformation? user = null;
        try
        {
            user = sellerInfos.Where((u) => u.UserId == p.OwnerId).First();
        }
        catch (Exception e)
        {
            Console.WriteLine("Exception " + e);
        }

        if(user != null)
        {
            return user.FirstName + " " + user.LastName;
        }
        else
        {
            return "New Seller";
        }
    }

}

<style>
    .upload-image-label {
        margin-left: 1em;
    }

    .img-input-div {
        margin-top: 1em;
    }

    .two-buttons {
        width: 100%;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .grid-two {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .elem-half {
        max-width: 48%;
    }

    .products-container {
        display: flex !important;
        flex-direction: row !important;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 16px;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .billing-continue {
        float: right;
    }

    .go-back {
        float: left;
        padding-top: 24px;
    }

    .keep-shopping {
        float: right;
        padding-top: 24px;
    }
</style>
