@page "/textbooks"

@inject NavigationManager _navMan
@inject ICSUNMarketplaceService _csunMarketplaceService


<div>
    <MudText Color="Color.Primary" Class="page-header">
        <h2>
            Browse All Textbooks
        </h2>
    </MudText>

    <div class="carousel-container">
        <MudCarousel TData="object" Style="height:300px" ShowArrows="false" ShowBullets="false">
            <MudCarouselItem onclick=@(()=>_navMan.NavigateTo("textbooks/search"))>
                <div class="carousel-background-gradient">
                    <MudImage Class="carousel-background-image" Src="https://cdn.discordapp.com/attachments/959989259492790352/959989315298005033/textbooks-final.jpg" />
                    <div class="carousel-content">
                        <MudText Class="carousel-overlayed-text">
                            <h1>
                                Looking for a specific textbook?
                            </h1>
                            <h4>
                                Click Here to use our <b>Textbook Search</b> to find what you need.
                            </h4>
                        </MudText>
                    </div>
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </div>

    <div class="feed-container">
        <div class="feed-content">
            <div class="products-container">
                @if (productList != null)
                {
                    @foreach (TextbookInformation t in textbooksToRender)
                    {
                        Product p = productsToRender.Where((p) => p.ProductId == t.ProductId).Single();

                        <MudPaper class="product-tile" Elevation="7"  @onclick=@(()=>ViewProduct(p.ProductId))>
                            <div>
                                <MudImage ObjectPosition="ObjectPosition.Center" Src="@p.ImageUrl" Height="310" Width="310" />
                            </div>

                            <div class="product-tile-header-container">
                                <MudText Class="product-tile-header">
                                    @t.Title
                                </MudText>
                            </div>

                            <div>
                                <MudText Class="product-tile-price" Color="Color.Primary">
                                    @t.Department @t.Course
                                </MudText>
                            </div>

                            <div>
                                <MudText Class="product-tile-price">
                                    Author:  @t.Authors
                                </MudText>
                            </div>

                            <div>
                                <MudText Class="product-tile-price">
                                    @t.Edition Edition
                                </MudText>
                            </div>

                            <div>
                                <MudText Class="product-tile-price">
                                    ISBN: @t.Isbn
                                </MudText>
                            </div>

                            <div>
                                <b>
                                    $@p.Price
                                </b>
                            </div>
                        </MudPaper>
                    }
                }
            </div>
        </div>
        <div class="pagination-container">
            <MudPagination Count="@maxNumberOfPages" Color="Color.Primary" SelectedChanged="@((int newPage)=>UpdateProductsOnPage(newPage))" Size="Size.Large" />
        </div>
    </div>
</div>

@code {
    TextbookInformation tinfo = new TextbookInformation();
    List<Product> productList = new List<Product>();
    public List<Product>? productsToRender = new List<Product>();
    public List<TextbookInformation> textbooksToRender = new List<TextbookInformation>();
    List<TextbookInformation> textbookInformationList = new List<TextbookInformation>();

    List<string> departmentList = new List<string> { "ART", "CHEM", "COMP", "ECE", "ENGL", "FIN", "GEOL", "HIST", "MATH", "PHYS", "PSY", "SCI" };

    List<string> courseList = new List<string> { "100", "108", "110", "122", "182", "222", "256", "282", "310", "322", "356", "380", "410", "424", "440" };

    public int itemsPerPage = 6;
    public int maxNumberOfPages = 1;
    public int pageIndex = 1;


    public void ViewProduct(int productId)
    {
        _navMan.NavigateTo("/view-listing/" + productId);
    }

    protected override async Task OnInitializedAsync()
    {
        productList = _csunMarketplaceService.GetTextbooks();
        textbookInformationList = _csunMarketplaceService.GetTextbookInformationList();

        maxNumberOfPages = productList.Count() / itemsPerPage + 1;

        productsToRender = new List<Product>();
        for (int i = ((pageIndex - 1) * itemsPerPage); i < itemsPerPage * pageIndex && i < productList.Count(); i++)
        {
            productsToRender.Add(productList.ElementAt(i));
            textbooksToRender.Add(textbookInformationList.Where((t) => t.ProductId == productList.ElementAt(i).ProductId).Single());
        }

    }

    public void UpdateProductsOnPage(int newPage)
    {
        pageIndex = newPage;
        productsToRender.Clear();
        textbooksToRender.Clear();
        productsToRender = new List<Product>();
        textbooksToRender = new List<TextbookInformation>();
        
        for (int i = ((pageIndex - 1) * itemsPerPage); i < itemsPerPage * pageIndex && i < productList.Count(); i++)
        {
            productsToRender.Add(productList.ElementAt(i));
            textbooksToRender.Add(textbookInformationList.Where((t) => t.ProductId == productList.ElementAt(i).ProductId).Single());
        }

        StateHasChanged();
    }

}

<style>

</style>

