@page "/store"
@using csun_marketplace.data
@using csun_marketplace.services
@inject ICSUNMarketplaceService _csunMarketplaceService

<div class="feed-container">
    <div class="feed-content">

        @foreach (Product p in productList)
        {
            <MudCard>
                <MudCardMedia Class="card-img" Image="@p.ImageUrl" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">@p.Title</MudText>
                    <MudText Typo="Typo.body2">@p.Description</MudText>
                    <MudText Typo="Typo.body2">$@p.Price</MudText>
                    <MudText Typo="Typo.body2">@p.OwnerId</MudText>
                    <MudText Typo="Typo.body2">@p.Category</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        }
    </div>
</div>


@code {
    public List<Product>? productList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        productList = _csunMarketplaceService.GetProductList();

    }

}
<style>
    .card-img {
        width: 20%;
    }

    .feed-container {
        width: 50%;
        min-height: 100% !important;
        margin: auto;
        display: block;
        margin-bottom: 2em;
        margin-top: 1.5em;
        overflow:scroll;
    }

    .feed-content {
        min-height: 100% !important;
        padding-left: 3em;
        padding-right: 3em;
        align-self: center;
    }

</style>
